<!DOCTYPE html>
<html>
<head>
    <title>LOGIN | PAGE</title>
    <link rel="stylesheet" href="/not_login.css" />
    <script src="https://kit.fontawesome.com/8e806f66e5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="image">
        <img src="https://www.gstatic.com/meet/google_meet_horizontal_wordmark_2020q4_1x_icon_124_40_2373e79660dabbf194273d27aa7ee1f5.png" alt="gmeet" class="logo">
        <span>CLONE</span>
    </div>

    <div class="prompt">
        <div class="one">YOU ARE NOT LOGGED IN</div>
        <div class="two">PLEASE SIGN IN TO ENJOY UNLIMITED REALTIME VIDEO CALL</div> 
    </div>

    <div class="auth">
        <a href="/auth/google">Login</a>
    </div>

    <div class="git">
        <a href="https://github.com/KodudulaAshish/Gmeet-Clone">
            <i class="fa-brands fa-github"></i>
            <br>
            <span>Visit us</span>
        </a>
    </div>
</body>
</html>
